table{
    margin-bottom: 2rem !important;
    font-size: 1.3rem;
    td , th{
        vertical-align: middle !important;
    }
    td:nth-child(5) span{
        width: 30px;
        height: 30px;
        display: block;
        border: 1px solid rgb(7, 71, 166);
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        color: rgb(7, 71, 166);
        cursor: pointer;
        transition: all 0.5s;
    }
    td:nth-child(5) span:hover{
        background-color: rgb(7, 71, 166);
        color: white;
    }
}
.project-detail{
    padding: 25px 32px 50px 334px;
}
.creator{
    color: green;
    border: 1px solid green;
    padding: 0.3rem;
}
.member {
    display: flex;
    margin: 0px 12px 0px 2px;
    align-items: center;
    img {
      display: inline-flex;
      width: 32px;
      height: 32px;
      margin-right: 2px;
      border-radius: 50%;
      transition: transform 0.1s ease 0s;
      cursor: pointer;
      user-select: none;
    }
  }
  nav {
    font-size: 1.4rem;
  }